/ {
	chosen {
		zephyr,display = &st75320;
	};

	buttons {
		compatible = "gpio-keys";
		btn0: key3 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "left top";
		};
		btn1: key1 {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "left bottom";
		};
		btn2: key {
			gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "right top";
		};
		btn3: key4 {
			gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "right bottom";
		};
	};

	pwmleds {
	/*	compatible = "pwm-leds";*/
		lcd_backlight: lcd_backlight {
			pwms = <&pwm3 0 PWM_HZ(10000) PWM_POLARITY_NORMAL>;
		};
	};

	aliases {
		/delete-property/ spi-flash0;
	};

	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&ext_flash>;
		disk-name = "NAND";
		/* cache-size == page erase size */
		cache-size = <4096>;
	};
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 7)>;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 7)>;
			low-power-enable;
		};
	};

	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>,
				<NRF_PSEL(SPIM_MOSI, 0, 31)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>,
				<NRF_PSEL(SPIM_MOSI, 1, 31)>;
			low-power-enable;
		};
	};

	pwm3_default: pwm3_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 26)>;
			nordic,invert;
		};
	};

	pwm3_sleep: pwm3_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 26)>;
			low-power-enable;
		};
	};

	qspi_default: qspi_default {
		group1 {
			psels = <NRF_PSEL(QSPI_SCK, 0, 0x14)>,

				<NRF_PSEL(QSPI_IO0, 0, 0x16)>,
				<NRF_PSEL(QSPI_IO1, 0, 0x18)>,
				<NRF_PSEL(QSPI_IO2, 0, 0x10)>,
				<NRF_PSEL(QSPI_IO3, 0, 0x17)>,

				<NRF_PSEL(QSPI_CSN, 1, 0)>;
		};
	};

	qspi_sleep: qspi_sleep {
		group1 {
			psels = <NRF_PSEL(QSPI_SCK, 0, 0x14)>,

				<NRF_PSEL(QSPI_IO0, 0, 0x16)>,
				<NRF_PSEL(QSPI_IO1, 0, 0x18)>,
				<NRF_PSEL(QSPI_IO2, 0, 0x10)>,
				<NRF_PSEL(QSPI_IO3, 0, 0x17)>;

			low-power-enable;
		};
		group2 {
			psels = <NRF_PSEL(QSPI_CSN, 1, 0)>;
			low-power-enable;
			bias-pull-up;
		};
	};
};

/*
&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <39>;
};
*/

&spi3 {
/*
	status = "okay";

	sck-pin = <0x2F>;
	miso-pin = <0xFF>;
	mosi-pin = <0x1F>;
*/

	cs-gpios = <&gpio0 0x2 GPIO_ACTIVE_LOW>;

	st75320: st75320@0 {
		compatible = "sitronix,st75320";
		label = "ST75320";
		spi-max-frequency = <4000000>;
		reg = <0>;

		cmd-data-gpios = <&gpio0 0x1D GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 0xD GPIO_ACTIVE_LOW>;
		power-gpios = <&gpio1 0xB GPIO_ACTIVE_HIGH>;

		backlight = <&lcd_backlight>;

		width = <160>;
		height = <240>;
		x-offset = <80>;
		y-offset = <0>;
	};
};

&pwm3 {
	status = "okay";
	pinctrl-0 = <&pwm3_default>;
	pinctrl-1 = <&pwm3_sleep>;
	pinctrl-names = "default", "sleep";
};

/*
&pwm3 {
	status = "okay";
	ch0-pin = <0x1A>;
};
*/

&qspi {
/*
	status = "okay";

	sck-pin = <0x14>;
	io-pins = <0x16>, <0x18>, <0x10>, <0x17>;
	csn-pins = <0x20>;
*/

	/delete-node/mx25r6435f@0;

	gd25q127c@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		writeoc = "pp4o";
		readoc = "read4io";
		sck-frequency = <8000000>;
		label = "GD25Q127C";
		jedec-id = [c8 40 18];

		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 07  44 eb 08 6b  08 3b 42 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 eb  0c 20 0f 52
			10 d8 00 ff
		];

		size = <0x8000000>; /* in bits */

		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			ext_flash: partition@380000 {
				label = "ext-flash";
				reg = <0x00380000 0x00C80000>;
			};
		};
	};
};

&flash0 {
	partitions {
		/delete-node/partition@0;
		/delete-node/partition@c000;
		/delete-node/partition@73000;
		/delete-node/partition@82000;
		/delete-node/partition@da000;
		/delete-node/partition@f8000;

		partition@0 {
			label = "mbr";
			reg = < 0x0 0x1000 >;
		};
		partition@1000 {
			label = "softdevice";
			reg = < 0x1000 0x30000 >;
		};
		slot0_partition: partition@31000 {
			label = "image-0";
			reg = < 0x31000 0x62000 >;
		};
		storage_partition: partition@93000 {
			label = "storage";
			reg = < 0x93000 0x2000 >;
		};
		slot1_partition: partition@95000 {
			label = "image-1";
			reg = < 0x95000 0x62000 >;
		};
		partition@f7000 {
			label = "hw-ver";
			reg = < 0xf7000 0x1000 >;
		};
		boot_partition: partition@f8000 {
			label = "bootloader";
			reg = < 0xf8000 0x6000 >;
		};
		partition@fe000 {
			label = "boot-settings";
			reg = < 0xfe000 0x1000 >;
		};
		partition@ff000 {
			label = "boot-settings-backup";
			reg = < 0xff000 0x1000 >;
		};
	};
};
