/ {
	leds {
		compatible = "gpio-leds";
		led0_green: led_0 {
			gpios = <&gpio0 0x1A GPIO_ACTIVE_LOW>;
			label = "Green LED 0";
		};
	};

	buttons {
		compatible = "gpio-keys";
		btn0: key3 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "left top";
		};
		btn1: key1 {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "left bottom";
		};
		btn2: key {
			gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "right top";
		};
		btn3: key4 {
			gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "right bottom";
		};
	};

};

&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <39>;
};

&spi3 {
	status = "okay";
	sck-pin = <0x2F>;
	miso-pin = <0xFF>;
	mosi-pin = <0x1F>;
	cs-gpios = <&gpio0 0x2 GPIO_ACTIVE_LOW>;

	st75320@0 {
		compatible = "sitronix,st75320";
		label = "ST75320";
		spi-max-frequency = <4000000>;
		reg = <0>;

		cmd-data-gpios = <&gpio0 0x1D GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 0xD GPIO_ACTIVE_LOW>;
		power-gpios = <&gpio1 0xB GPIO_ACTIVE_HIGH>;

		width = <160>;
		height = <240>;
		x-offset = <80>;
		y-offset = <0>;
	};
};
